version: "3.9"
services:
  opensearch:
    image: opensearchproject/opensearch:latest
    container_name: opensearch
    ports:
      - "9200:9200"
      - "9600:9600"
    environment:
      discovery.type: single-node
      OPENSEARCH_INITIAL_ADMIN_PASSWORD: strongPass123#
    volumes:
      - opensearch_data:/usr/share/opensearch/data

volumes:
  opensearch_data: