version: '3.8'

services:
  redis:
    image: redis/redis-stack:latest
    container_name: redis
    ports:
      - "6379:6379"
    environment:
      REDIS_ARGS: "--requirepass root123"
    restart: unless-stopped