version: '3.8'

services:
  postgres:
    image: pgvector/pgvector:0.7.4-pg16
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    restart: unless-stopped